body{
    background-color: rgb(198, 221, 248);
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    margin-top: 10%;
    color: cadetblue;
}
#c{
    font-family:'Times New Roman', Times, serif;
    font-size:90px;
    margin: 40px;
}

.btn{
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#i{
    background-color: #4CAF50;
}
#i:active{
    background-color: #3e8e41;
    box-shadow: 0 0 0 0;
}
#d{
    background-color: #f44336;
}
#d:active{
    background-color: #ce4137;
    box-shadow: 0 0 0 0;
}
#r{
    background-color: #555555;
}
#r:active{
    background-color: #3d3d3d;
    box-shadow: 0 0 0 0;
}